.test {
  background-color: yellow;
}

body, .full-width, .canvas {
  background: url("../img/fon160.jpg");
  color: #EEEEEE;
  opacity: 0.9;
  /* font-size: 1.1rem; */
}

h1, h2, h3 {
	font-family: 'Ruslan Display', cursive;
}

h1 {
  font-size: 2rem;
}

h1 span {
  font-size: 3rem;
  font-style: italic;
  line-height: 1;
}

.header {
  position: relative;
}

header .row {
  width: 100%;
  margin: 0;
}
  
.addr-new {
  display: flex;
  line-height: 1.3;
  justify-content: flex-end;
}

.main-menu {
  width: 100%;
}

.toggler-wrapper {
  text-align: right;
  padding: 0;
}

.navbar-brand {
  display: none;
  width: 100px;
}

.pt-16 {
  padding-top: 160px;
}

@media (max-width: 990px) {
  h1 {
    font-size: 1.5rem;
    line-height: 0.9;
  }

  h1 span {
    font-size: 2rem;
  }
  .pt-16 {
    padding-top: 200px;
  }
}

@media (max-width: 767px) {
  .pt-16 {
    padding-top: 80px;
  }

  .navbar-brand {
    display: block;
    width: 100px;
    padding: 0 0;
    margin: 0;
    text-align: left;
  }

  .navbar-brand img {
    width: 40px;
    border-radius: 44%;
  }

  h1 {
    font-size: 1.2rem;
    line-height: 1;
  }

  h1 span {
    font-size: 1.5rem;
  }
 
  .header .wrapper {
    padding: 18px 0 0 0;
  }
  .addr {
    display: none !important;
    line-height: 1.3;
  }

  .header__burger {
    margin: 4px 10px 0 0;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger::before,
  .header__burger::after {
    content: '';
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
  }
  .header__burger::before {
    top: 0;
    transition: all 0.3s;
  }
  .header__burger::after {
    bottom: 0;
    transition: all 0.3s;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s;
  }
  .header__burger.active::before {
    transform:rotate(45deg);
    top: 9px;

    transition: all 0.3s;
  }
  .header__burger.active::after {
    transform:rotate(-45deg);
    bottom: 9px;
    transition: all 0.3s;
  }
  .header__burger.active span {
    /* display: none; */
    transform:scale(0);
    transition: all 0.3s;
  }
}


.full-width {
  position: relative;
  width: 100%;
  top: 0;
  z-index: 5;
}

.fixed {
  /* display: fixed; */
  top: 0;
}

.fixed-new {
  position: fixed;
  top: 0;
}

.slider {
  position: relative;
  margin-top: 200px;
  z-index: 0;
}

.nav {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin: 1px 4px;
  padding: 0 5px;
  /* padding: 0; */
  text-align: center;
  width: 170px;
  background-color: #EEEEEE;
  color: #333;
  font-family: 'Ruslan Display', cursive;
}

.nav-item a {
  color: #333;
  padding: 8px 0 4px 0;
}

@media screen and (min-width: 990px) and (max-width: 1200px) {
  .nav-item {
    width: 140px;
    margin: 1px 0px;
    padding: 0 0px;
    font-size: 0.9rem;
  }
}
  
.home-title-new {
  position: fixed;
  padding-top: 32px;
  align-items: flex-start;
  justify-content: space-around;
}

@media (max-width: 767px) {
  .top-menu {
    display: none !important;
  }
  .slider {
    margin-top: 68px;
  }
  .home-title.mb1 {
    margin-bottom: 0rem;
  }
  .home-title {
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .home-title-new {
    align-items: flex-start;
    justify-content: space-around;
  }

  .home-title .col-10,
  .home-title .col-sm-8 {
    padding-right: 5px;
    padding-left: 5px;
  }

  .addr-new {
    display: none;
  }

}

.expo_menu_section {
  padding-top: 160px;
  margin-top: -80px;
}

#science {
  padding-top: 90px;
  margin-top: -90px;
}

/* .expo_section p {
  font-size: 1.05rem !important;
} */

.expo_section:first-child {
  margin-top: 86px;
}

.about_work_section {
  margin-top: 10px;
}

.card a, .card-deck a {
  text-decoration: none;
}

section {
  padding: 12px 0;
}

.heading {
  padding-top: 32px;
  position: fixed;
}
header {
  padding-bottom: 12px;
}
#myCarousel {
  width: 100%;
}

#excursion_carousel {
  width: 100%;
}

.carousel-item img {
  width: 100%;
}

.activity_slider_container, .artworks_section {
  padding-top: 160px !important;
  margin-top: -80px;
}

#activityCarousel {
  width: 50%;
}

.expo_section .card:hover, .card:hover, .nav-item:hover, .nav-item a:hover {
  /* border-color: darkblue; */
  color: white !important;
  /* background-color: #3498db !important; */
  background-color: #4D7556 !important;
  -webkit-transition: all .3s;
  transition: all .3s; 
}

.card-body {
  color: black;
}

.card-body:hover {
  color: white !important;
  -webkit-transition: all .3s;
  transition: all .3s; 
}

.box {
  height: 200px;
}

.box:hover {
  background-color: #3498db;
  -webkit-transition: all .3s;
  transition: all .3s; 
}

.expo_container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  min-height: 300px;
}

.poetry {
  font-style: italic;
  /* font-size: 1rem; */
  line-height: 0.9;
}

.poetry-outer {
  justify-content: center;
  display: flex;
  margin-top: 1em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

#galery img:hover {
  width: 400px;
  top: 0;
  left: 0;
}

.scale3 img:hover {
  transform: scale(3);
  -webkit-transform:scale(3);
  -moz-transform:scale(3);
  -o-transform:scale(3);
}

.documents_container img, .scale3 img, #galery img {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
}

.documents_container img {
  /* width: 250px; */
  margin-bottom: 4px;
  /* margin: 4px; */
}

@media screen and (min-width: 769px) {
  .documents_container img:hover {
    transform:scale(2.5);
    -webkit-transform:scale(2.5);
    -moz-transform:scale(2.5);
    -o-transform:scale(2.5);
    z-index: 10;
    position: relative;
    top: 62px;
  }
}
@media screen and (max-width: 768px) {
  .documents_container {
    justify-content: center;
  }
}

footer {
  height: 60px;
  border-top: 2px solid light-gray;
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  font-style: italic;
  color: #333333;
}

.popover-header {
  color: #333333;
}

#kucherenko {
  position: relative;
  cursor: pointer;
}

#kucherenko i:hover {
  color: #4D7556;
}

#kucherenko:hover .floating {
  display: block;
  top: -400px;
  left: 300px;
  z-index: 10;
}

.floating {
  position: absolute;
  display: none;
  /* right: -100px; */
}

.h40 {
  height: 40px;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.mb5 {
  margin-bottom: 3rem;
}


.section_header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_header .carousel {
  width: 50%;
}

.section_header h3 {
  text-align: center;
}

.exp-3 {
  width: 200px;
  height: 148px;
  display: inline-block;
  position: relative;
}

.exp-3 img {
  position: absolute;
}

a.eh3 img{
  width:190px;
  height: 148px;
}

a.v3h3 {
  position: relative;
  overflow:hidden;
  height:148px;
}

.v3h3 img {
  position: absolute;
  top:11%;
  transform:translateY(-11%);
  width:190px;
  height:148px;
  object-fit:cover;
}

.exp {
  width: 150px;
  height: 112px;
  display: inline-block;
  position: relative;
}

.exp img {
  position: absolute;
}

a.eh2 img{
  /* width: 150px; */
  width:140px;
  height: 112px;
}

a.v2h2 {
  position: relative;
  overflow:hidden;
  height:112px;  
}

.v2h2 img {
  position: absolute;
  top:11%;
  transform:translateY(-11%);
  width:140px;
  height:112px;
  object-fit:cover;
}

/* a.v2h {
  margin: 0 76px 0 72px;
}

.v2h span {
  position: relative;
  overflow:hidden;
  width:150px;
  height:120px;
}

.v2h img {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:140px;
  height:110px;
  object-fit:cover;
} */

.w140 {
  width: 140px;
}

.w160 {
  width: 160px;
}

.w200 {
  width: 200px;
}

.w240 {
  width: 240px;
}

.w320 {
  width: 320px;
}

.w360 {
  width: 360px;
}

.exp-fl {
  float: left;
  margin: 4px 10px 4px 0px;
}

.exp-fr {
  float: right;
  margin: 4px 0px 4px 10px;
}
